<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 폰트 첨부 -->
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<header>
<th:block th:insert="~{/sub/header.html}"></th:block>
</header>
<section>
    
</section>
<footer>
<th:block th:insert="~{/sub/footer.html}"></th:block>
</footer>
<script>

</script>
</body>
</html>