<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 폰트 첨부 -->
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<header>
<th:block th:insert="~{/sub/header.html}"></th:block>
</header>
<section>
    <h1>메인 페이지</h1>

<h2>추천 공고</h2>

					<li data-match="{&quot;gno&quot;:44857485,&quot;jobTypes&quot;:&quot;,1000016,1000187,1000192,1000194,1000217,1000218,1000219,1000220,1000222,1000224,1000250,1000251,1000257,1000277,1000279,1000284,1000285,1000286,1000287,1000311,1000313,&quot;,&quot;workLocal&quot;:&quot;,B000,E000,F000,G000,H000,I000,J000,K000,&quot;,&quot;careerTypeCode&quot;:3}" class="branding expand">
                            <a href="/Recruit/GI_Read/44857485?Oem_Code=C1&amp;productType=FirstVVIP&amp;logpath=0" class="card-wrap" target="_blank" data-gno="44857485" data-spacecode="42">
                                <div class="company">
                                    <span class="name">
                                        <div class="image">
                                            <img src="//file1.jobkorea.co.kr/BoothBanner/2024/02/Banner_k99EUNV24020710015068.jpg" alt="" onerror="this.src='//file1.jobkorea.co.kr/Mailing/2023/img_600_464_05.png';">
                                            <span class="logo"><img src="//imgs.jobkorea.co.kr/Images/Logo/180/l/v/2615h00hebokhwg2_3720g8cgirdkhijhg.gif?p=y&amp;hash=c&amp;upddt=20240612173002" width="180" height="72" alt="" onerror="this.src='//img.jobkorea.co.kr/Images/Logo/180/l/o/logo_none_180.png';"></span>
                                        </div>
                                    </span> 
                                </div>
                                <div class="description">채용공고명</div>
                                <div class="addition">
                                    <div class="summary">
                                        회사명
                                    </div>
                                </div>
                            </a>
                    </li>
</section>
<footer>
<th:block th:insert="~{/sub/footer.html}"></th:block>
</footer>
<script>

</script>
</body>
</html>
