<style>
    .footer {
        background-color: #ffffff;
        border-top: 1px solid #e0e0e0;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: auto;
        height:60px;
        box-sizing: border-box;
    }

    .footer .copyright {
        font-size: 14px;
        color: #666;
    }

    .footer .customer-service {
        font-size: 14px;
        color: #333;
    }

    .footer .customer-service a {
        text-decoration: none;
        color: #ff006f;
        margin-left: 10px;
    }

    .footer .company-info {
        font-size: 14px;
        color: #333;
    }

</style>

<footer class="footer">
    <div class="copyright">
        &copy; 2024 잡빙수. All rights reserved.
    </div>
    <div class="customer-service">
        고객센터: <a href="tel:+821012345678">010-1234-5678</a> | <a
            href="mailto:support@jobbingsoo.com">support@jobbingsoo.com</a>
    </div>
    <div class="company-info">
        서비스 제공: 잡빙수 주식회사 | 대표: 홍길동 | 사업자 등록번호: 123-45-67890
    </div>
</footer>