<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!--타임리프-->
<head>
<meta charset="UTF-8"><!--한국어-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"><!--반응형-->
<title>공고 등록/수정 페이지</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script><!--jquery 의존성 주입-->
</head>
<body>
    <header>
        <th:block th:insert="~{/sub/header.html}"></th:block>
    </header>
    <section>
        <h1>공고 등록/수정 페이지</h1>
        <hr>
    </section>
    <footer>
        <th:block th:insert="~{/sub/footer.html}"></th:block>
    </footer>
</body>
</html>