<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>지원자 목록 페이지</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>지원자 목록 페이지</h1>
<hr>
<div class="content" id="application-list"></div>
<input type="text" id="postCode" th:value="${postCode}">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 페이지가 로드될 때 실행되는 함수
        pcode = document.getElementById('postCode').value;
        console.log(pcode);
        fetch(`http://localhost:9001/ice/redbean-per-mypost?postcode=`+pcode)
        .then(response => response.json())
        .then(data => {
            console.log('data:', data);

            let contentDiv = document.querySelector('.content');
            contentDiv.innerHTML = ''; 

            data.forEach(application => {
                let div = document.createElement('div');
                div.textContent = `${application.name} ${application.gender} ${application.birth} ${application.address}`;

                
                contentDiv.appendChild(div);
            });
        })
        .catch(error => console.error('데이터 가져오기나 파싱 중 오류 발생:', error)); 
        // 오류 발생 시 콘솔에 오류 메시지 출력
    });
</script>
</body>
</html>