<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.container {
	width: 500px;
	margin: 0 auto;
}

.resume-update-btn {
	cursor: pointer; /* 마우스를 올렸을 때 포인터 모양으로 변경 */
	color: #FF0000; /* 기본 색상 설정 */
	transition: color 0.3s ease; /* 색상 변경 트랜지션 설정 */
}

.resume-update-btn:hover {
	color: #0056b3; /* 마우스를 올렸을 때 색상 변경 */
}

.delete-update-btn {
	cursor: pointer; /* 마우스를 올렸을 때 포인터 모양으로 변경 */
	color: #FF0000; /* 기본 색상 설정 */
	transition: color 0.3s ease; /* 색상 변경 트랜지션 설정 */
}

.delete-update-btn:hover {
	color: #0056b3; /* 마우스를 올렸을 때 색상 변경 */
}

ul.tabs {
	text-align: center;
	margin-bottom: 30px;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 0px 10px;
	cursor: pointer;
}

.tabs .line {
	color: #333;
}

ul.tabs li.current {
	color: #ff006f;
	font-weight: bold;
}

.tab-content {
	display: none;
	padding: 15px;
}

.tab-content.current {
	display: block;
}

.hidden {
	display: none;
}

body {
	font-family: Arial, sans-serif;
	margin: 20px;
	padding: 0;
	background-color: #f4f4f9;
}

h1 {
	color: #333;
}

button {
	background-color: #ff006f;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 2px;
	cursor: pointer;
	border-radius: 4px;
}

button:hover {
	background-color: #CD1039;
}

.hidden {
	display: none;
}

#infoDiv, #showResumeList, #subscribeListDiv, #showFavoriteListDiv,
	#totalResult {
	margin-top: 20px;
	padding: 20px;
	border-radius: 8px;
}

input[type="text"] {
	width: calc(100% - 22px);
	padding: 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #ddd;
}

th, td {
	padding: 15px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<th:block th:insert="~{/sub/header.html}"></th:block>
	</header>
	<section>
		<h1>my page</h1>
		<button id="infoBtn" onclick="showUpdateForm(event)">정보수정</button>
		<br>
		<button id="resumeManage" onclick="showResumeList(event)">이력서관리</button>
		<br>
		<button id="showSubscribeFavoriteList"
			onclick="showFavoriteScrab(event)">관심기업/스크랩공고</button>
		<br>
		<button id="" onclick="showApplicationList(event)">입사지원현황</button>
		<br>

		<div id="totalResult"></div>
	</section>
	<footer>
		<th:block th:insert="~{/sub/footer.html}"></th:block>
	</footer>
	<script>
	function showUpdateForm(event) {
	    event.preventDefault();
	    var resume_code = parseInt(resume_code, 10);
	    console.log("=======================resume_code:" + resume_code);
	    let token = localStorage.getItem("token");
	    fetch("http://localhost:9001/redbean/showUpdateForm", { // 서버에 요청을 보냅니다.
	        method: "GET",
	        headers: {
	            "Content-Type": "application/json",
	            "Authorization": "Bearer " + token // 요청의 헤더 설정
	        },
	    })
	    .then(response => response.json())
	    .then(data => {
	    	var htmlContent = `
				<div>
					기본키 <input type="hidden" id="rb_code" name="rb_code" value="${data.rb_code}" readonly><br>
					<input type="hidden" id="rid" name="rid" value="${data.rid.username}" readonly><br>
					이름 <input type="text" id="name" name="name" value="${data.name}"><br>
					생일 <input type="text" id="birth" name="birth" value="${data.birth}" ><br>
					전화 <input type="text" id="tel" name="tel" value="${data.tel}"><br>
					주소 <input type="text" id="address" name="address" value="${data.address}" ><br>
					메일 <input type="text" id="email" name="email" value="${data.email}"><br>
					성별 <input type="text" id="gender" name="gender" value="${data.gender}"><br>
					필/미필 <input type="text" id="military" name="military" value="${data.military}" ><br>
					<button id="updateInfo" onclick="updateInfo(event)">수정하기</button>
					<div id="resultUpdateInfo"></div>
				</div>
			`;
			$("#totalResult").html(htmlContent);
	    })
	    .catch(error => {
	        document.getElementById("totalResult").innerHTML = error;
	    });
	}

$(document).ready(function() {
    // 자격증 추가 버튼 클릭 시 동작
    $("#addCertiBtn").click(function() {
        var certiDiv = $("<div>").addClass("certi-container"); // 새로운 div 요소 생성 및 클래스 추가
        var inputField = $("<input>").attr({
            type: "text",
            placeholder: "자격증명",
            name: "stack"
        });
        var dateField = $("<input>").attr({
            type: "text",
            placeholder: "취득일",
            name: "optain_date"
        });
        var issuerField = $("<input>").attr({
            type: "text",
            placeholder: "발급기관",
            name: "issuer"
        });
        certiDiv.append(inputField, dateField, issuerField); // 각 입력 필드를 새로운 div에 추가
        $("#certiContainer").append(certiDiv); // 생성된 div를 기존의 div에 추가
    });
});



function updateInfo(event){
	event.preventDefault();
	var rb_code = document.querySelector('input[id="rb_code"]').value;
	var rid = document.querySelector('input[id="rid"]').value;
	var name = document.querySelector('input[id="name"]').value;
	var birth = document.querySelector('input[id="birth"]').value;
	var tel = document.querySelector('input[id="tel"]').value;
	var address = document.querySelector('input[id="address"]').value;
	var email = document.querySelector('input[id="email"]').value;
	var gender = document.querySelector('input[id="gender"]').value;
	var military= document.querySelector('input[id="military"]').value;
	  
	
		const member = {

			  rb_code:rb_code,
			  name: name,
			  birth: birth,
			  tel:tel,
			  address:address,
			  email:email,
			  gender:gender,
			  military:military,
		    }
	console.log("============= member"+member);
	const sendData = JSON.stringify(member);
	const token = localStorage.getItem("token");
    fetch("http://localhost:9001/redbean/updateInfo?rid="+rid, { // 서버에 요청을 보냅니다.
        method: "PUT",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token // 요청의 헤더 설정// 요청의 헤더 설정
        },
        body: sendData // 전송할 데이터
    })
        .then(response => response.text())
        .then(data => {
            document.getElementById("totalResult").innerHTML = data;
            /* approvalBtn.innerHTML = data; // 버튼의 내용을 변경합니다.*/
        })
        .catch(error => {
            document.getElementById("totalResult").innerHTML = error;
        });

}




function showResumeList(event) {
	event.preventDefault();
	let token = localStorage.getItem("token");
	console.log("=============");
	fetch("http://localhost:9001/redbean/showResumeList", { // 서버에 요청을 보냅니다.
		method: "GET",
		headers: {
			"Content-Type": "application/json",
			"Authorization": "Bearer " + token // 요청의 헤더 설정
		},
	})
		.then(response => response.json())
		.then(data => {
			document.getElementById("totalResult").innerHTML = createResumeTable(data);
		})
		.catch(error => {
			document.getElementById("totalResult").innerHTML = error;
		});
}

function createResumeTable(jsonData) {
	var html = '<table border="1">';
	html += '<tr>';
	html += '<th>title</th>';
	html += '<th>수정</th>';
	html += '<th>삭제</th>';
	html += '</tr>';
	
	jsonData.forEach(item => {
		html += '<tr>';
		html += `<input id="resume_code_${item.resume_code}" type="hidden" value="${item.resume_code}">`;
		html += `<td id="resumeDetailTd" onclick="showResumeDetail(event, '${item.resume_code}')">${item.title}</td>`;
		html += `<td id="resumeUpdateBtn" class="resume-update-btn" onclick="showResumeUpdateForm(event, '${item.resume_code}')">수정</td>`;
		html += `<td id="resumeDeleteBtn" class="delete-update-btn" onclick="deleteResume(event, '${item.resume_code}')">삭제</td>`;
		html += '</tr>';
		
	});

	html += '</table>';
	html += '<button onclick="showResumeWriteForm(event)">이력서 등록하기</button>';
	
	return html;
}

function resumeUpdateInfo(event, resume_code) {
    event.preventDefault();
    var cer_stack_old = Array.from(document.querySelectorAll('input[id="cer_stack"]'));
    var cer_stack = [];
    cer_stack_old.forEach(input => {
        cer_stack.push(input.value);
    });
    
    var title = document.querySelector('input[id="title"]').value;
    var name = document.querySelector('input[id="name"]').value;
    var address = document.querySelector('input[id="address"]').value;
    var tel = document.querySelector('input[id="tel"]').value;
    var email = document.querySelector('input[id="email"]').value;
    var edu_name = document.querySelector('input[id="edu_name"]').value;
    var edu_major = document.querySelector('input[id="edu_major"]').value;
    var edu_type = document.querySelector('input[id="edu_type"]').value;
    var edu_state= document.querySelector('input[id="edu_state"]').value;
    var area_main= document.querySelector('input[id="area_main"]').value;
    var area_sub= document.querySelector('input[id="area_sub"]').value;
    var companyname= document.querySelector('input[id="companyname"]').value;
    var cardate= document.querySelector('input[id="cardate"]').value;
    var industry = document.querySelector('input[id="industry"]').value;
    var position= document.querySelector('input[id="position"]').value;
    var job= document.querySelector('input[id="job"]').value;
    // var cer_stack_old= document.querySelectorAll('input[id="cer_stack"]');
    var optain_date= document.querySelector('input[id="optain_date"]').value;
    var sungjang= document.querySelector('textarea[id="sungjang"]').value;
    var juwondongki= document.querySelector('textarea[id="juwondongki"]').value;
    var jangdanzeum= document.querySelector('textarea[id="jangdanzeum"]').value;
    var issuer = document.querySelector('input[id="issuer"]').value;

    const ResumeDto = {
    	title:title,
        name: name,
        address: address,
        tel: tel,
        email: email,
        edu_name: edu_name,
        edu_type: edu_type,
        edu_major: edu_major,
        edu_state: edu_state,
        area_main: area_main,
        area_sub: area_sub,
        job: job,
        optain_date: optain_date,
        issuer: issuer,
        sungjang: sungjang,
        juwondongki: juwondongki,
        jangdanzeum: jangdanzeum,
       // cer_stack: cer_stack
    }
    const sendData = JSON.stringify(ResumeDto);
    let token = localStorage.getItem("token");
    fetch("http://localhost:9001/redbean/resumeUpdate?resume_code=" + resume_code, {
        method: "PUT",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token // 요청의 헤더 설정
        },
        body: sendData
    })
    .then(response => response.text())
    .then(data => {
        document.getElementById("totalResult").innerHTML = data;
    })
    .catch(error => {
        document.getElementById("totalResult").innerHTML = error;
    });
}
function resumeWrite(event) {
    event.preventDefault();
    var cer_stack_old = Array.from(document.querySelectorAll('input[id="cer_stack"]'));
    var cer_stack = [];
    cer_stack_old.forEach(input => {
        cer_stack.push(input.value);
    });
    
    var title = document.querySelector('input[id="title"]').value;
    var name = document.querySelector('input[id="name"]').value;
    var address = document.querySelector('input[id="address"]').value;
    var tel = document.querySelector('input[id="tel"]').value;
    var email = document.querySelector('input[id="email"]').value;
    var edu_name = document.querySelector('input[id="edu_name"]').value;
    var edu_major = document.querySelector('input[id="edu_major"]').value;
    var edu_type = document.querySelector('input[id="edu_type"]').value;
    var edu_state= document.querySelector('input[id="edu_state"]').value;
    var area_main= document.querySelector('input[id="area_main"]').value;
    var area_sub= document.querySelector('input[id="area_sub"]').value;
    var companyname= document.querySelector('input[id="companyname"]').value;
    var cardate= document.querySelector('input[id="cardate"]').value;
    var industry = document.querySelector('input[id="industry"]').value;
    var position= document.querySelector('input[id="position"]').value;
    var job= document.querySelector('input[id="job"]').value;
    // var cer_stack_old= document.querySelectorAll('input[id="cer_stack"]');
    var optain_date= document.querySelector('input[id="optain_date"]').value;
    var sungjang= document.querySelector('textarea[id="sungjang"]').value;
    var juwondongki= document.querySelector('textarea[id="juwondongki"]').value;
    var jangdanzeum= document.querySelector('textarea[id="jangdanzeum"]').value;
    var issuer = document.querySelector('input[id="issuer"]').value;

    const ResumeDto = {
    	title:title,
        name: name,
        address: address,
        tel: tel,
        email: email,
        edu_name: edu_name,
        edu_type: edu_type,
        edu_major: edu_major,
        edu_state: edu_state,
        area_main: area_main,
        area_sub: area_sub,
        job: job,
        optain_date: optain_date,
        issuer: issuer,
        sungjang: sungjang,
        juwondongki: juwondongki,
        jangdanzeum: jangdanzeum,
       // cer_stack: cer_stack
    }
    const sendData = JSON.stringify(ResumeDto);
    let token = localStorage.getItem("token");
    fetch("http://localhost:9001/redbean/resumeWrite", {
        method: "PUT",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token // 요청의 헤더 설정
        },
        body: sendData
    })
    .then(response => response.text())
    .then(data => {
        document.getElementById("totalResult").innerHTML = data;
    })
    .catch(error => {
        document.getElementById("totalResult").innerHTML = error;
    });
}



function deleteResume(event,resume_code){
	event.preventDefault();
	let token = localStorage.getItem("token");
	fetch("http://localhost:9001/redbean/deleteResume?resume_code=" + resume_code, {
		method: "DELETE",
		headers: {
			"Content-Type": "application/json",
			"Authorization": "Bearer " + token // 요청의 헤더 설정
		},
		
	})
		.then(response => response.text())
		.then(data => {
			document.getElementById("totalResult").innerHTML = data;
		})
		.catch(error => {
			document.getElementById("totalResult").innerHTML = error;
		});
}


function showResumeUpdateForm(event, resume_code) {
    event.preventDefault();
    var resume_code = parseInt(resume_code, 10);
    console.log("=======================resume_code:" + resume_code);
    let token = localStorage.getItem("token");
    fetch("http://localhost:9001/redbean/showResumeUpdateForm?resume_code=" + resume_code, { // 서버에 요청을 보냅니다.
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token // 요청의 헤더 설정
        },
    })
    .then(response => response.json())
    .then(data => {
        var htmlContent = `
            이력서제목<input type="text" id="title" name="title" value="${data.title}"><br>
            <hr>
            인적사항
            <hr>
            성명<input type="text" id="name" name="name" value="${data.name}"><br>
            주소<input type="text" id="address" name="address" value="${data.address}"><br>
            휴대전화<input type="text" id="tel" name="tel" value="${data.tel}"><br>
            이메일<input type="text" id="email" name="email" value="${data.email}"><br>
            <hr>
            학력사항
            <hr>
            학력<input type="text" id="edu_name" name="edu_name" value="${data.edu_name}"><br>
            학력구분<input type="text" id="edu_type" name="edu_type" value="${data.edu_type}"><br>
            전공<input type="text" id="edu_major" name="edu_major" value="${data.edu_major}"><br>
            학력상태<input type="text" id="edu_state" name="edu_state" value="${data.edu_state}"><br>
            <hr>
            자소서<br>
            성장과정<br>
            <textarea id="sungjang" name="sungjang">${data.sungjang}</textarea><br>
            지원동기<br>
            <textarea id="juwondongki" name="juwondongki">${data.juwondongki}</textarea><br>
            장단점<br>
            <textarea id="jangdanzeum" name="jangdanzeum">${data.jangdanzeum}</textarea><br>
            <hr>
            희망근무지역
            <hr>
            1지망<input type="text" id="area_main" name="area_main" value="${data.area_main}"><br>
            2지망<input type="text" id="area_sub" name="area_sub" value="${data.area_sub}"><br>
            희망직무산업
            <hr>
            산업<input type="text" id="industry" name="industry" value="${data.industry}"><br>
            직무<input type="text" id="job" name="job" value="${data.job}"><br>
            <hr>
            경력사항
            <hr>
            사명<input type="text" id="companyname" name="companyname" value="${data.companyname}"><br>
            입사일<input type="text" id="cardate" name="cardate" value="${data.cardate}"><br>
            퇴사일<input type="text" id="enddate" name="enddate" value="${data.enddate}"><br>
            산업군<input type="text" id="industry" name="industry" value="${data.industry}"><br>
            직책<input type="text" id="position" name="position" value="${data.position}"><br>
            직무<input type="text" id="job" name="job" value="${data.job}"><br>
            <hr>
            이력서 기술스택
            <hr>
            <br>
            <hr>
			보유 자격증
			<hr>
			<div id="certiContainer">
				<div class="certi-container">
					자격증명 <input type="text" id="cer_stack" name="cer_stack" value="${data.cer_stack[0].stack}"><br>
					취득일 <input type="text" id="optain_date" name="optain_date" value="${data.cer_stack[0].optain_date}"><br>
					발급기관 <input type="text" id="issuer" name="issuer" value="${data.cer_stack[0].issuer}"><br>
				</div>
			</div>
			<button id="addCertiBtn">자격증 추가</button>
            <button onclick="resumeUpdateInfo(event, ${resume_code})">수정하기</button>
            <form action="review" method="post" enctype="multipart/form-data">
            <input type="file" name="imageFile">

            </form>
            </div>
            <div id="subscribeListDiv"></div>
            <div id="showFavoriteListDiv"></div>
            <div id="totalResult"></div>
        `;
        $("#totalResult").html(htmlContent);
    })
    .catch(error => {
        document.getElementById("totalResult").innerHTML = error;
    });
}




function showResumeDetail(event, resume_code) {
    event.preventDefault();
    var resume_code = parseInt(resume_code, 10);
    console.log("=======================resume_code:" + resume_code);
    let token = localStorage.getItem("token");
    fetch("http://localhost:9001/redbean/showResumeUpdateForm?resume_code=" + resume_code, { // 서버에 요청을 보냅니다.
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + token // 요청의 헤더 설정
        },
    })
    .then(response => response.json())
    .then(data => {
        var htmlContent = `
            이력서제목 : ${data.title}
            <hr>
            인적사항
            <hr>
            성명 : ${data.name}<br>
            주소 : ${data.address} <br>
            휴대전화 : ${data.tel} <br>
            이메일 : ${data.email}<br>
            <hr>
            학력사항
            <hr>
            학력 ${data.edu_name}<br>
            학력구분 ${data.edu_type}<br>
            전공 ${data.edu_major}<br>
            학력상태 ${data.edu_state}<br>
            <hr>
            자소서<br>
            <hr>
            성장과정<br>
            ${data.sungjang}<br>
            지원동기<br>
            ${data.juwondongki}<br>
            장단점<br>
			${data.jangdanzeum}<br>
            <hr>
            희망근무지역
            <hr>
            1지망 : ${data.area_main}<br>
            2지망 : ${data.area_sub}<br>
            희망직무산업
            <hr>
            산업 : ${data.industry}<br>
            직무 : ${data.job} <br>
            <hr>
            경력사항
            <hr>
            사명 : ${data.companyname}<br>
            입사일 : ${data.cardate}<br>
            퇴사일 : ${data.enddate}<br>
            산업군 : ${data.industry} <br>
            직책 : ${data.position}<br>
            직무 : ${data.job}<br>
         
            <br>
            <hr>
			보유 자격증
			<hr>
			<div id="certiContainer">
				<div class="certi-container">
					자격증명 : ${data.cer_stack[0].stack}<br>
					취득일 : ${data.cer_stack[0].optain_date}<br>
					발급기관 : ${data.cer_stack[0].issuer}<br>
				</div>
			</div>
            <div id="totalResult"></div>
        `;
        $("#totalResult").html(htmlContent);
    })
    .catch(error => {
        document.getElementById("totalResult").innerHTML = error;
    });
}







function showFavoriteScrab(event) {
	event.preventDefault();
	var htmlContent = `
		<ul class="tabs">
			<li class="tab-link current" data-tab="tab-1">관심기업(subscribe)</li>
			<li class="line">|</li>
			<li class="tab-link" data-tab="tab-2">스크랩한 기업(favorite)</li>
		</ul>
		<div id="tab-1" class="tab-content current">
			<div id="subscribeList"></div>
		</div>
		<div id="tab-2" class="tab-content">
			<div id="favoriteList"></div>
		</div>
	`;
	$("#totalResult").html(htmlContent);

	const btn1 = document.querySelector("[data-tab='tab-1']");
	const btn2 = document.querySelector("[data-tab='tab-2']");
	const tabContent1 = document.getElementById("tab-1");
	const tabContent2 = document.getElementById("tab-2");

	btn1.addEventListener("click", function() {
		btn1.classList.add("current");
		btn2.classList.remove("current");
		tabContent1.classList.add("current");
		tabContent2.classList.remove("current");
		showSubscribeList();
		showFavoriteList();
	});

	btn2.addEventListener("click", function() {
		btn2.classList.add("current");
		btn1.classList.remove("current");
		tabContent2.classList.add("current");
		tabContent1.classList.remove("current");
		showSubscribeList(); // 추가된 부분
	});
	
	showSubscribeList();
	showFavoriteList(); // 초기 로드 시 호출
}

function showFavoriteList() {
	let token = localStorage.getItem("token");
	fetch("http://localhost:9001/redbean/showFavoriteList", { // 서버에 요청을 보냅니다.
		method: "GET",
		headers: {
			"Content-Type": "application/json",
			"Authorization": "Bearer " + token // 요청의 헤더 설정
		},
	})
		.then(response => response.json())
		.then(data => {
			document.getElementById("favoriteList").innerHTML = createFavoriteTable(data);
		})
		.catch(error => {
			document.getElementById("favoriteList").innerHTML = error;
		});
}






function showSubscribeList(event) {
	let token = localStorage.getItem("token");
	fetch("http://localhost:9001/redbean/showSubscribeList", { // 서버에 요청을 보냅니다.
		method: "GET",
		headers: {
			"Content-Type": "application/json",
			"Authorization": "Bearer " + token // 요청의 헤더 설정
		},
	})
		.then(response => response.json())
		.then(data => {
			console.log("==============================="+data)
			document.getElementById("subscribeList").innerHTML = createSubscribeTable(data);
		})
		.catch(error => {
			document.getElementById("subscribeList").innerHTML = error;
		});
}

function showResumeWriteForm(event) {
	event.preventDefault();
	let token = localStorage.getItem("token");
	console.log("=============");
	 var htmlContent = `
         이력서제목<input type="text" id="title" name="title"><br>
         <hr>
         학력사항
         <hr>
         학력<input type="text" id="edu_name" name="edu_name" ><br>
         학력구분<input type="text" id="edu_type" name="edu_type" ><br>
         전공<input type="text" id="edu_major" name="edu_major"><br>
         학력상태<input type="text" id="edu_state" name="edu_state"><br>
         <hr>
         자소서<br>
         성장과정<br>
         <textarea id="sungjang" name="sungjang"></textarea><br>
         지원동기<br>
         <textarea id="juwondongki" name="juwondongki"></textarea><br>
         장단점<br>
         <textarea id="jangdanzeum" name="jangdanzeum"></textarea><br>
         <hr>
         희망근무지역
         <hr>
         1지망<input type="text" id="area_main" name="area_main"><br>
         2지망<input type="text" id="area_sub" name="area_sub"><br>
         희망직무산업
         <hr>
         산업<input type="text" id="industry" name="industry"><br>
         직무<input type="text" id="job" name="job"><br>
         <hr>
         경력사항
         <hr>
         사명<input type="text" id="companyname" name="companyname"><br>
         입사일<input type="text" id="cardate" name="cardate"><br>
         퇴사일<input type="text" id="enddate" name="enddate"><br>
         산업군<input type="text" id="industry" name="industry"><br>
         직책<input type="text" id="position" name="position"><br>
         직무<input type="text" id="job" name="job"><br>
         <hr>
         이력서 기술스택
         <hr>
         <br>
         <hr>
			보유 자격증
			<hr>
			<div id="certiContainer">
				<div class="certi-container">
					자격증명 <input type="text" id="cer_stack" name="cer_stack" ><br>
					취득일 <input type="text" id="optain_date" name="optain_date"><br>
					발급기관 <input type="text" id="issuer" name="issuer"><br>
				</div>
			</div>
			<button id="addCertiBtn">자격증 추가</button><br>
         <button onclick="resumeWrite(event)">등록하기</button>
         <form action="review" method="post" enctype="multipart/form-data">
         <input type="file" name="imageFile">

         </form>
         </div>
         <div id="subscribeListDiv"></div>
         <div id="showFavoriteListDiv"></div>
         <div id="totalResult"></div>
     `;
     $("#totalResult").html(htmlContent);
}


function showApplicationList(event) {
	let token = localStorage.getItem("token");
	fetch("http://localhost:9001/redbean/showApplicationList", { // 서버에 요청을 보냅니다.
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		    "Authorization": "Bearer " + token // 요청의 헤더 설정
		},
	})
		.then(response => response.json())
		.then(data => {
			console.log("==============================="+data)
			document.getElementById("totalResult").innerHTML = createApplicationTable(data);
		})
		.catch(error => {
			document.getElementById("totalResult").innerHTML = error;
		});
}

function createFavoriteTable(jsonData) {
	var html = '<table border="1">';
	html += '<tr>';
	html += '<th>사명</th>';
	html += '</tr>';
	
	jsonData.forEach(item => {
		html += '<tr>';
		html += '<td>' + item.company_name+ '</td>';
		html += '</tr>';
	});

	html += '</table>';
	
	
	return html;
}

function createSubscribeTable(jsonData) {
	var html = '<table border="1">';
	html += '<tr>';
	html += '<th>사명</th>';
	html += '</tr>';
	
	jsonData.forEach(item => {
		html += '<tr>';
		html += '<td>' + item.company_name + '</td>';
		html += '</tr>';
	});

	html += '</table>';
	
	return html;
}

function createApplicationTable(jsonData) {
	var html = '<table border="1">';
	html += '<tr>';
	html += '<th>appcode</th>';
	html += '<th>post_code</th>';
	html += '<th>rid</th>';
	html += '<th>result</th>';
	html += '</tr>';
	
	jsonData.forEach(item => {
		html += '<tr>';
		html += '<td>' + item.app_code + '</td>';
		html += '<td>' + item.postCode.post_code+ '</td>';
		html += '<td>' + item.rid.username +'</td>';
		html += '<td>' + item.result +'</td>';
		html += '</tr>';
	});

	html += '</table>';
	
	return html;
}

function createResumeDetailTable(jsonData) {
	var html = '<table border="1">';
	html += '<tr>';
	html += '<th>이력서명</th>';
	html += '<th>post_code</th>';
	html += '<th>rid</th>';
	html += '<th>result</th>';
	html += '</tr>';
	
	jsonData.forEach(item => {
		html += '<tr>';
		html += '<td>' + item.app_code + '</td>';
		html += '<td>' + item.postCode.post_code+ '</td>';
		html += '<td>' + item.rid.username +'</td>';
		html += '<td>' + item.result +'</td>';
		html += '</tr>';
	});

	html += '</table>';
	
	return html;
}


$(document).on('click', '#addCertiBtn', function() {
	var certiDiv = $("<div>").addClass("certi-container");
	var inputField = $("<input>").attr({
		type: "text",
		placeholder: "자격증명",
		name: "stack"
	});
	var dateField = $("<input>").attr({
		type: "text",
		placeholder: "취득일",
		name: "optain_date"
	});
	var issuerField = $("<input>").attr({
		type: "text",
		placeholder: "발급기관",
		name: "issuer"
	});
	var hr =  $("<hr>")
	certiDiv.append(hr,inputField, dateField, issuerField,hr);
	$("#certiContainer").append(certiDiv);
});




</script>
</body>
</html>
