<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <style>
        .resume {
            margin: 20px auto;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .resume strong {
            font-weight: bold;
        }
    </style>
    <header>
        <th:block th:insert="~{/sub/header.html}"></th:block>
    </header>
	<section>
        <h1>이력서 디테일</h1>
        <hr>
        <input type="text" id="rid" th:value="${rid}" hidden>
	<div id="content"></div>
	</section>

    <footer>
        <th:block th:insert="~{/sub/footer.html}"></th:block>
    </footer>
    
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        List();
    });
    
    function List() {
        const token = localStorage.getItem('token');
        const rid = document.getElementById('rid').value;
        fetch(`http://localhost:9001/ice/resumeList?rid=${rid}`, {
            headers: {
                'Authorization': 'Bearer ' + token
            }
        })
        .then(response => response.json())
        .then(data => {
            console.log('data:', data);
    
            data.forEach(resume => {
                const div = document.createElement('div');
                div.classList.add('resume');
                div.innerHTML = `<div>
                    <strong>제목:</strong> ${resume.title} <br>
                    <strong>경력:</strong> ${resume.employmemt_type} <br>
                    <strong>학력:</strong> ${resume.edu_type}<br>
                    <strong>학교:</strong> ${resume.edu_name}<br>
                    <strong>전공:</strong> ${resume.edu_major}<br>
                    <strong></strong> <br>
                    </div>`;
    
                document.getElementById('content').appendChild(div); 
            });
        })
        .catch(error => console.error('데이터 가져오기나 파싱 중 오류 발생:', error));
    }
        </script>
</html>